<!-- Page Title -->
<div class="page-title light-background">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Principal Investigators</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/">Home</a></li>
                <li class="current">Principal Investigators</li>
            </ol>
        </nav>
    </div>
</div>
<!-- End Page Title -->

<!-- Projects Table Section -->
<section class="section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="table-responsive">
                    <table class="table table-bordered table-dark align-middle text-center">
                        <thead class="table-primary">
                            <tr>
                                <th style="width: 80px;">S.No</th>
                                <th style="width: 300px;">Principal Investigator / Coordinator</th>
                                <th>Project Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    Prof. T. V. Bharat<br>
                                    <small>Head, CET</small>
                                </td>
                                <td>
                                    <ul class="list-group list-group-flush" style="list-style-type: none; padding-left: 0;">
                                        <li class="list-group-item-dark">GIAN</li>
                                        <li class="list-group-item-dark">CSS-MOOCS</li>
                                        <li class="list-group-item-dark">KIC-TEQIP</li>
                                        <li class="list-group-item-dark">MITACS</li>
                                        <li class="list-group-item-dark">NPTEL</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    Prof. Ratnajit Bhattacharjee<br>
                                    <small>Department of EEE</small>
                                </td>
                                <td>
                                    <ul class="list-group list-group-flush" style="list-style-type: none; padding-left: 0;">
                                        <li class="list-group-item-dark">Electronics and ICT Academy</li>
                                        <li class="list-group-item-dark">Virtual Lab</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    Prof. Sunil Khijwania<br>
                                    <small>Department of Physics</small>
                                </td>
                                <td>
                                    <ul class="list-group list-group-flush" style="list-style-type: none; padding-left: 0;">
                                        <li class="list-group-item-dark">PMMMNMTT</li>
                                        <li class="list-group-item-dark">Teachers Training</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    Prof. Jatindra Kr Deka<br>
                                    <small>Department of CSE</small>
                                </td>
                                <td>
                                    <ul class="list-group list-group-flush" style="list-style-type: none; padding-left: 0;">
                                        <li class="list-group-item-dark">Developing suitable Pedagogical Methods for Various classes, Intellectual Calibers & e-learning</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>
                                    Prof. Ravi Mokashi Punekar<br>
                                    <small>Department of Design</small>
                                </td>
                                <td>
                                    <ul class="list-group list-group-flush" style="list-style-type: none; padding-left: 0;">
                                        <li class="list-group-item-dark">Creating Digital Learning Environment for Design in India</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
