<header id="header" class="header d-flex align-items-center sticky-top">
  <div
    class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-end">

    <a href="" class="logo d-flex align-items-center me-auto">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="https://www.iitg.ac.in/cet/images/logo.png" alt="cet-logo" > -->
      <h1 class="sitename">CET WEBSITE</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active">Home</a>
        </li>

        <li class="dropdown">
          <a routerLink="">
            <span>About</span> <i class="bi bi-chevron-down toggle-dropdown"></i>
          </a>
          <ul>
            <li><a routerLink="about">About Us</a></li>
            <li><a routerLink="/office-team">Office Team</a></li>
            <li><a routerLink="/project-team">Project Team</a></li>
            <li><a routerLink="/principal-investigators">Principal Investigators</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a routerLink="">
            <span>Projects</span> <i class="bi bi-chevron-down toggle-dropdown"></i>
          </a>
          <ul>
            <li><a routerLink="nptel">NPTEL</a></li>
            <li><a routerLink="gian">GIAN</a></li>
            <li><a routerLink="coursera">COURSERA</a></li>
          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
  </div>
</header>