<main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">Contact Us</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a routerLink="/">Home</a></li>
                    <li class="current">Contact Us</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-main-wrapper">
                <div class="map-wrapper">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d895.07175687463!2d91.69163166638275!3d26.18733972191875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a5ac311d9b405%3A0x6bb8d16be6286faf!2sCenter%20for%20Educational%20Technology!5e0!3m2!1sen!2sus!4v1754927166838!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="contact-content">
                    <div class="contact-cards-container" data-aos="fade-up" data-aos-delay="300">
                        <div class="contact-card">
                            <div class="icon-box">
                                <i class="bi bi-geo-alt"></i>
                            </div>
                            <div class="contact-text">
                                <h4>Location</h4>
                                <p>Center for Educational Technology, IIT Guwahati, Guwahati, PIN: 781039, Assam, INDIA</p>
                            </div>
                        </div>

                        <div class="contact-card">
                            <div class="icon-box">
                                <i class="bi bi-envelope"></i>
                            </div>
                            <div class="contact-text">
                                <h4>Email</h4>
                                <p>cet[at]iitg.ac.in</p>
                            </div>
                        </div>

                        <div class="contact-card">
                            <div class="icon-box">
                                <i class="bi bi-telephone"></i>
                            </div>
                            <div class="contact-text">
                                <h4>Call</h4>
                                <p>+91-361-258-3007</p>
                            </div>
                        </div>

                        <div class="contact-card">
                            <div class="icon-box">
                                <i class="bi bi-clock"></i>
                            </div>
                            <div class="contact-text">
                                <h4>Open Hours</h4>
                                <p>Monday-Friday: 9AM - 5PM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Contact Section -->
</main>