<!-- Head of Department Page -->
<div class="page-title light-background">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">Head of Department</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a routerLink="/">Home</a></li>
        <li class="current">Head of Department</li>
      </ol>
    </nav>
  </div>
</div>
<!-- End Page Title -->

<!-- HOD Section -->
<section id="faculty--staff" class="faculty--staff section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="faculty-grid">
      <div class="row g-4 justify-content-center">       
        <!-- HOD Member -->
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="faculty-card">
            <div class="faculty-image">
              <img src="assets/img/people/bharat.jpg" class="img-fluid" alt="HOD" style="width: 450px; height: 450px;">
            </div>
            <div class="faculty-info text-center">
              <h3>Prof. T.V. Bharat</h3>
              <p class="position">Head - Centre for Educational Technology</p>
              <p class="position">Head - Knowledge Incubation Cell</p>
              <p class="department"><strong>Phone: (CET)</strong> <span> +91-361-258-3001</span></p>
              <p class="department"><strong>Phone: (Civil)</strong> <span> +91-361-258-2417</span></p>
              <p class="department"><strong>Email: </strong> <span>hoccet[at]iitg.ac.in</span></p>
              <p class="department"><strong>Email: </strong> <span>tvb[at]iitg.ac.in</span></p>
            </div>
          </div>
        </div>
        <!-- End HOD Member -->        
      </div>
    </div>
  </div>
</section>
