<main class="main">
    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Faculty Staff</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Faculty Staff</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->
    
    <!-- SubTeam Heading -->
    <div class="page-title mt-2 mb-2" style="background-color: #E6EDF0;">
    <div class="container d-lg-flex justify-content-between align-items-center py-1">
        <h4 class="mb-2 mb-lg-0" style="color: #000000;">Video Team</h4>
    </div>
    </div>

    <!-- Faculty  Staff Section -->
    <section id="faculty--staff" class="faculty--staff section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="faculty-grid">
          <div class="row g-4">       

            <!-- Faculty Member 2 -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/person/person-f-5.webp" class="img-fluid" alt="Faculty Member">
                </div>
                <div class="faculty-info">
                  <h3>Dr. Sarah Johnson</h3>
                  <p class="position">Associate Professor of Biology</p>
                </div>
              </div>
            </div>
            <!-- End Faculty Member -->

            <!-- Faculty Member 2 -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/person/person-f-5.webp" class="img-fluid" alt="Faculty Member">
                </div>
                <div class="faculty-info">
                  <h3>Dr. Sarah Johnson</h3>
                  <p class="position">Associate Professor of Biology</p>
                </div>
              </div>
            </div>
            <!-- End Faculty Member -->

            <!-- Faculty Member 2 -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/person/person-f-5.webp" class="img-fluid" alt="Faculty Member">
                </div>
                <div class="faculty-info">
                  <h3>Dr. Sarah Johnson</h3>
                  <p class="position">Associate Professor of Biology</p>
                </div>
              </div>
            </div>
            <!-- End Faculty Member -->


          </div>
        </div>
      </div>
    </section>

    <!-- SubTeam Heading -->
    <div class="page-title mt-2 mb-2" style="background-color: #E6EDF0;">
    <div class="container d-lg-flex justify-content-between align-items-center py-1">
        <h4 class="mb-2 mb-lg-0" style="color: #000000;">Web Portal Team</h4>
    </div>
    </div>

  </main>