<main class="main">
    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Project Team</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Project Team</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->
    
    <!-- Administrative Heading -->
    <div class="page-title mt-2 mb-2" style="background-color: #E6EDF0;">
    <div class="container d-lg-flex justify-content-between align-items-center py-1">
        <h4 class="mb-2 mb-lg-0" style="color: #000000;">Administrative Team</h4>
    </div>
    </div>

    <!-- Administrative Staff Section -->
    <section id="faculty--staff" class="faculty--staff section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="faculty-grid">
          <div class="row g-4">       

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/priya.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Priya Das</h3>
                  <p class="position">Project Associate</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3007</span></p>
                  <p class="department"><strong>Email: </strong> <span>alphul[at]iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->
          </div>
        </div>
      </div>
    </section>



    <!-- Video Team Heading -->
    <div class="page-title mt-2 mb-2" style="background-color: #E6EDF0;">
    <div class="container d-lg-flex justify-content-between align-items-center py-1">
        <h4 class="mb-2 mb-lg-0" style="color: #000000;">Video Team</h4>
    </div>
    </div>

    <!-- Video Team Staff Section -->
    <section id="faculty--staff" class="faculty--staff section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="faculty-grid">
          <div class="row g-4">       

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/alphul.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Alphul Gogoi</h3>
                  <p class="position">Senior Audio Visual Content Developer</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>alphul[at]iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/rumi.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Rumi Kalita</h3>
                  <p class="position">Senior Audio Visual Content Developer</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>rumi.iit[at]rnd.iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/bratatee.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Bratatee Kashyap</h3>
                  <p class="position">Senior Audio Visual Content Developer</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>bratatee.kashyap[at]iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/jitu.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Jitumani Ray</h3>
                  <p class="position">Senior Audio Visual Content Developer</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>jitu.ray[at]iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/jyoti.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Jyoti Prakash Talukdar</h3>
                  <p class="position">Senior Audio Visual Content Developer</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>paultalukdar180[at]rnd.iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/ambarish.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Ambarish Borkotoky</h3>
                  <p class="position">Audio Visual Content Developer</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>meetambarish[at]rnd.iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/ambarish.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Kuldip Baruah</h3>
                  <p class="position">Audio Visual Content Developer</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>meetambarish[at]rnd.iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/rupam.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Rupam Buragohain</h3>
                  <p class="position">Audio Visual Content Developer</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>rupam.buragohain[at]rnd.iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->

          </div>
        </div>
      </div>
    </section>

    <!-- Recording Heading -->
    <div class="page-title mt-2 mb-2" style="background-color: #E6EDF0;">
    <div class="container d-lg-flex justify-content-between align-items-center py-1">
        <h4 class="mb-2 mb-lg-0" style="color: #000000;">Recording Team</h4>
    </div>
    </div>

    <!-- Recording Staff Section -->
    <section id="faculty--staff" class="faculty--staff section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="faculty-grid">
          <div class="row g-4">       

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/mriganka.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Mriganka Borah</h3>
                  <p class="position">Senior Audio Visual Content Developer</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>mriganka.b[at]iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/alilakshi.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Alilakshi Borgohain</h3>
                  <p class="position">Senior Audio Visual Content Developer</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>aliborgohain[at]iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/sanjib.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Sanjib Phukan</h3>
                  <p class="position">Senior Audio Visual Content Developer</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>sanjibphukan25[at]iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/heramba.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Heramba Das</h3>
                  <p class="position">Audio Visual Content Developer</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>herambadas2015[at]rnd.iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/anamika.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Anamika Deka</h3>
                  <p class="position">Audio Visual Content Developer</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>anamika.deka[at]rnd.iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/uddhab.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Uddhab Chandra Deka</h3>
                  <p class="position">Audio Video Lab Assistant</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>uddhab.deka[at]rnd.iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->

          </div>
        </div>
      </div>
    </section>



    <!-- SubTeam Heading -->
    <div class="page-title mt-2 mb-2" style="background-color: #E6EDF0;">
    <div class="container d-lg-flex justify-content-between align-items-center py-1">
        <h4 class="mb-2 mb-lg-0" style="color: #000000;">Web Portal Team</h4>
    </div>
    </div>
    <!-- SubTeam Heading END -->

    <!-- Recording Staff Section -->
    <section id="faculty--staff" class="faculty--staff section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="faculty-grid">
          <div class="row g-4">       

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/sunita.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Sunita Das</h3>
                  <p class="position">Associate Web Content Manager</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>sdas20486[at]rnd.iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/arnab.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Arnabjyoti Thakuria</h3>
                  <p class="position">Associate Web Content Manager</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>arnabthakuria[at]rnd.iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/partha.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Partha Choudhury</h3>
                  <p class="position">System Engineer</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>partha.choudhury[at]rnd.iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->
            
            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/bedanta.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Bedanta Kakati</h3>
                  <p class="position">Associate Web Content Manager</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>bedanta.kakati[at]rnd.iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/munmi.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Munmi Dutta</h3>
                  <p class="position">Associate Web Content Manager</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>munmi26[at]rnd.iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->
          </div>
        </div>
      </div>
    </section>


    <!--Graphics SubTeam Heading -->
    <div class="page-title mt-2 mb-2" style="background-color: #E6EDF0;">
    <div class="container d-lg-flex justify-content-between align-items-center py-1">
        <h4 class="mb-2 mb-lg-0" style="color: #000000;">Graphics Team</h4>
    </div>
    </div>
    <!-- SubTeam Heading END -->

    <!-- Graphics Staff Section -->
    <section id="faculty--staff" class="faculty--staff section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="faculty-grid">
          <div class="row g-4">       
              <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/bhupali.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Bhupali Deka</h3>
                  <p class="position">Graphic Designer</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>bhupali.deka[at]rnd.iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->
          </div>
        </div>
      </div>
    </section>


  </main>