<main class="main">
    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Project Team</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Project Team</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->
    
    <!-- Administrative Heading -->
    <div class="page-title mt-2 mb-2" style="background-color: #E6EDF0;">
    <div class="container d-lg-flex justify-content-between align-items-center py-1">
        <h4 class="mb-2 mb-lg-0" style="color: #000000;">Administrative Team</h4>
    </div>
    </div>

    <!-- Administrative  Staff Section -->
    <section id="faculty--staff" class="faculty--staff section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="faculty-grid">
          <div class="row g-4">       

            <!-- Faculty Member 2 -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/priya.jpg" class="img-fluid" alt="Faculty Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Priya Das</h3>
                  <p class="position">Project Associate</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3007</span></p>
                  <p class="department"><strong>Email: </strong> <span>alphul[at]iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Faculty Member -->
          </div>
        </div>
      </div>
    </section>



    <!-- Video Team Heading -->
    <div class="page-title mt-2 mb-2" style="background-color: #E6EDF0;">
    <div class="container d-lg-flex justify-content-between align-items-center py-1">
        <h4 class="mb-2 mb-lg-0" style="color: #000000;">Video Team</h4>
    </div>
    </div>

    <!-- Video Team Staff Section -->
    <section id="faculty--staff" class="faculty--staff section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="faculty-grid">
          <div class="row g-4">       

            <!-- Faculty Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/alphul.jpg" class="img-fluid" alt="Faculty Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Alphul Gogoi</h3>
                  <p class="position">Senior Audio Visual Content Developer</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>alphul[at]iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Faculty Member -->

            <!-- Faculty Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/rumi.jpg" class="img-fluid" alt="Faculty Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Rumi Kalita</h3>
                  <p class="position">Senior Audio Visual Content Developer</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>rumi.iit[at]rnd.iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Faculty Member -->

            <!-- Faculty Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/bratatee.jpg" class="img-fluid" alt="Faculty Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Bratatee Kashyap</h3>
                  <p class="position">Senior Audio Visual Content Developer</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>bratatee.kashyap[at]iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Faculty Member -->
          </div>
        </div>
      </div>
    </section>

    <!-- SubTeam Heading -->
    <div class="page-title mt-2 mb-2" style="background-color: #E6EDF0;">
    <div class="container d-lg-flex justify-content-between align-items-center py-1">
        <h4 class="mb-2 mb-lg-0" style="color: #000000;">Web Portal Team</h4>
    </div>
    </div>

  </main>