    <!--Office SubTeam Heading -->
        <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Office Team</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a routerLink="/">Home</a></li>
            <li class="current">Office Team</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->


    <!-- Office Staff Section -->
    <section id="faculty--staff" class="faculty--staff section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="faculty-grid">
          <div class="row g-4">       
              <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/kallal.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Kallal Barua</h3>
                  <p class="position">Technical Superintendent</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3002</span></p>
                  <p class="department"><strong>Email: </strong> <span>kallal[at]iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->        

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/pranab.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Pranab Rajbongshi</h3>
                  <p class="position">Senior Assistant</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3007</span></p>
                  <p class="department"><strong>Email: </strong> <span>kallal[at]iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->  

            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/dibya.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Dibyajyoti Lahkar</h3>
                  <p class="position">Senior Technician</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3009</span></p>
                  <p class="department"><strong>Email: </strong> <span>dibyajyoti[at]iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member -->  
            <!-- Staff Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/biju.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Biju Jyoti Pathak</h3>
                  <p class="position">Senior Assistant</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3008</span></p>
                  <p class="department"><strong>Email: </strong> <span>bjp[at]iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member --> 
            <!-- Staff Member -->
             <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/rekha.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Rekha Hazarika</h3>
                  <p class="position">Junior Technician</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3008</span></p>
                  <p class="department"><strong>Email: </strong> <span>rekha.hazarika[at]iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member --> 
            <!-- Staff Member -->
             <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/bikash.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Bikash Jyoti Nath</h3>
                  <p class="position">Senior Technician</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3023</span></p>
                  <p class="department"><strong>Email: </strong> <span>bikashnath[at]iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member --> 
            <!-- Staff Member -->
             <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/kaushik.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Kaushik Kr. Sarma</h3>
                  <p class="position">Junior Technician</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3008</span></p>
                  <p class="department"><strong>Email: </strong> <span>kaushik.sarma[at]iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member --> 
            <!-- Staff Member -->
             <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="faculty-card">
                <div class="faculty-image">
                  <img src="assets/img/people/barun.jpg" class="img-fluid" alt="Staff Member" style="width: 450px; height: 450px;">
                </div>
                <div class="faculty-info">
                  <h3>Barun Haldar</h3>
                  <p class="position">Junior Attendant</p>
                  <p class="department"><strong>Phone: </strong> <span>+91-361-258-3008</span></p>
                  <p class="department"><strong>Email: </strong> <span>bhaldar[at]iitg.ac.in</span></p>
                </div>
              </div>
            </div>
            <!-- End Staff Member --> 
          </div>
        </div>
      </div>
    </section>